/*
GLOBAL
*/
* {
    padding: 0;
    margin: 0;
}

body {
    font-family: sans-serif;
    background: #F0F4F5
}
/*
Header
*/
#header-container {
    width: 90%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

h1 {
    font-size: 40px;
}
/*
BMI Calculator
*/
#calculator-container {
    width: 90%;
    margin: 0 auto;
    background-color: #ffffff; 
    border: 5px solid #005eb8;
}

#calculator-header {
    font-size: 20px;
    text-align: center;
    background-color: #005eb8;
    color: #ffffff; 
    padding: 15px;
}

#height-container, #weight-container {
    width: 90%;
    margin: 0 auto;
    padding: 10px 10px;
    border-bottom: 1px #f4f4f4 solid;
    padding-bottom: 30px;
}

label {

}

.input-calculator {
    border-radius: 12px;
    border: 1px solid #dedee3;
    padding: 5px;
    display: block;
    width: 90%;
    
}

#calculate-BMI-container input {
    padding: 5px;
    border-radius: 12px;
    border: 1px solid #dedee3;
}

h3 {
    font-size: 24px;
    margin-bottom: 15px;
}

#calculate-BMI-container {
    text-align: center;
    margin: 10px;
}

#BMI-info-section {
    width: 80%;
    margin: 0 auto;
}

h4 {
    font-size: 25px;
    margin: 10px 0px 10px 0px;
}

#BMI-list {
    width: 95%;
    margin: 0 auto;
    padding: 5px;
}